body{
font-family:Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.quiz-container{
background:white;
padding:30px;
border-radius:10px;
text-align:center;
width:400px;
}

button{
display:block;
width:100%;
padding:10px;
margin:10px 0;
cursor:pointer;
}

#next{
background:#007bff;
color:white;
border:none;
}